{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>Sign In</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <div class="form-floating mb-3">
            {{ form.username(class="form-control", placeholder="Username") }}
            {{ form.username.label(class="form-label") }}
        </div>
        <div class="form-floating mb-3">
            {{ form.password(class="form-control", placeholder="Password") }}
            {{ form.password.label(class="form-label") }}
        </div>
        <div class="form-check mb-3">
            {{ form.remember_me(class="form-check-input") }}
            {{ form.remember_me.label(class="form-check-label") }}
        </div>
        <div class ="form-floating mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
{% endblock %}